html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

header {
  padding: 40px 0;
  margin-bottom: 40px;
  background: #2ABB9B;
  color: #E3FAF5;
  border-top: 2px solid #398675;
  border-bottom: 2px solid #398675;
}

header h1 {
  color: #FFF;
}

.github-fork-ribbon {
  background-color: #2E3E4F;
}

.demo-code {
  margin-bottom: 40px;
}

section {
  padding-bottom: 50px;
}

blockquote {
  min-height: 49px;
}

footer {
  text-align: center;
  margin-top: -40px;
}