header {
    padding: 40px 0;
    margin-bottom: 40px;
    background: #2ABB9B;
    color: #E3FAF5;
}

header h1 {
    color: #FFF;
}

.github-fork-ribbon {
    background-color: #2E3E4F;
}

blockquote {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}