html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

header {
    padding: 40px 0;
    margin-bottom: 40px;
    background: #2ABB9B;
    color: #E3FAF5;
}

header h1 {
    color: #FFF;
}

.github-fork-ribbon {
    background-color: #2E3E4F;
}

section {
    padding-bottom: 80px;
}

blockquote {
    margin-bottom: 40px;
    min-height: 49px;
}

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: -80px;
}