<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Poller</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/gh-fork-ribbon.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-controller="myCtrl">
<div class="wrapper">
  <header>
    <div class="container">
      <h1>Angular Poller</h1>

      <p class="lead">
        Lightweight AngularJS poller service which can be easily injected into controllers. It uses a timer and
        sends requests every few seconds to keep the client synced with the server. Angular Poller supports $resource, $http and Restangular.
      </p>

      <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
          <a href="https://github.com/emmaguo/angular-poller">Star me on GitHub</a>
        </div>
      </div>
    </div>
  </header>

  <section class="container">
    <div class="row">
      <div class="col-md-7 demo-code">
        <script src="https://gist.github.com/emmaguo/bfb858b02a67e7ec69df.js"></script>
      </div>
      <div class="col-md-5">
        <p>
          <button class="btn btn-default" ng-click="stop()">Stop</button>
          <button class="btn btn-default" ng-click="restart()">Restart</button>
          <button class="btn btn-default" ng-click="faster()">Faster</button>
          <button class="btn btn-default" ng-click="slower()">Slower</button>
        </p>
        <blockquote>
          <p class="lead">
            {{data1.greeting}}
          </p>
        </blockquote>
        <p>
          <button class="btn btn-default" ng-click="startPoller2()">Start Poller2</button>
          <button class="btn btn-default" ng-click="stopBoth()">Stop Both</button>
          <button class="btn btn-default" ng-click="restartBoth()">Restart Both</button>
        </p>
        <blockquote>
          <p class="lead">
            {{data2 ? data2.greeting : 'Try starting the second poller.'}}
          </p>
        </blockquote>
      </div>
    </div>
  </section>

  <footer class="container">
    Made by <a href="https://github.com/emmaguo">Emma Guo</a>.
    Code released under the <a href="https://github.com/emmaguo/angular-poller/blob/master/LICENSE.md">MIT License</a>.
  </footer>
</div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-poller/angular-poller.min.js"></script>
<script src="app.js"></script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-41975360-1', 'emmaguo.github.io');
  ga('send', 'pageview');
</script>
</body>
</html>
